body {
  margin: 0;
  box-sizing: border-box;
  background-color: aqua;
}

.flex-row {
  display: flex;
  min-height: 100vh;
}

.image-photo {
  width: 200px;
}

.title-container {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: top;
  padding: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #f03f3c;
}
